<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>City Manager</title>
</head>
<body>

<div align="center">
    <h1>City List</h1>
    <a href="/new2">Create New City</a>

    <br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>City ID</th>
            <th>Name</th>
            <th>Date Create</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="city : ${cityList}">
            <td th:text="${city.id_city}">City ID</td>
            <td th:text="${city.cname}">Name City</td>
            <td th:text="${city.dtcreate}">Date Create</td>

            <td>
                <a th:href="@{/editCity/{id}(id=${city.id_city})}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{/deleteCity/{id}(id=${city.id_city})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>