<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Create New Plan</title>
</head>
<body>
<div align="center">
    <h1>Rejada kutilayotgan natijalarni kiriting</h1>
    <br/>
    <form action="#" th:action="@{/savePlan}" th:object="${plan}"
          method="post">

        <table border="1" cellpadding="10">

<tr> <th colspan="6" bgcolor="#a9a9a9">Kutilgan</th> </tr>

            <tr>
                <th colspan="4" bgcolor="#a9a9a9">Smena1</th>
                <th rowspan="2" bgcolor="#a9a9a9">To'xtalish sanasi</th>
            </tr>
            <tr>
                <th bgcolor="#a9a9a9">Line №1</th>
                <th bgcolor="#a9a9a9">Cykl Time №1</th>
                <th bgcolor="#a9a9a9">Line №2</th>
                <th bgcolor="#a9a9a9">Cykl Time №2</th>
            </tr>
            <tr>

                <td><input type="text" th:field="*{pline11}"/></td>
                <td><input type="text" th:field="*{pcikl11}"/></td>
                <td><input type="text" th:field="*{pline12}"/></td>
                <td><input type="text" th:field="*{pcikl12}"/></td>
                <td rowspan="4"><input type="date" row th:field="*{pdatecreate}"/></td>
            </tr>
            <tr>
                <th colspan="4" bgcolor="#a9a9a9">Smena2</th>

            </tr>


            <tr>
                <th bgcolor="#a9a9a9">Line №1</th>
                <th bgcolor="#a9a9a9">Cykl Time №1</th>
                <th bgcolor="#a9a9a9">Line №2</th>
                <th bgcolor="#a9a9a9">Cykl Time №2</th>
            </tr>

            <tr>
                <td><input type="text" th:field="*{pline21}"/></td>
                <td><input type="text" th:field="*{pcikl21}"/></td>
                <td><input type="text" th:field="*{pline22}"/></td>
                <td><input type="text" th:field="*{pcikl22}"/></td>


            </tr>


        </table>
        <br/>
        <tr>
            <td colspan="2"><button type="submit">Save</button> </td>
        </tr>
    </form>
</div>
</body>
</html>